.gallery {
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(auto-fill, minmax(350px, 8fr));
  grid-auto-rows: 215px; 
  justify-content: center;
 
  }
  
  .gallery img {
  width: 100%;
  /* margin-bottom: 1em; */
  border: 1px solid #FFC106;
  
}

h2 {
  background-color: brown;
  background: linear-gradient(90deg, #f7797d, #fbd786, #c6ffdd);
  box-shadow: 0 2px 1px #777;
  padding: 2rem 0;
  padding-left: 45%;
  color: grey;
}