body {
  box-sizing: content-box;
  background-image: url("https://i.pinimg.com/236x/59/c7/c8/59c7c8f9fbce64ffaeaea665a0c81b13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto 0px auto;
}